:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 36px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Reponsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-full-width {
    width: 100%;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test Reponsive */

.grid-column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid-column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid-column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.btn.btn-size-s {
    height: 30px;
    font-size: 12px;
    padding: 0 8px;

}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disable {
    cursor: default;
}

/* Select input */

.select-input {
    height: 34px;
    min-width: 200px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}

.select-input__list {
    position: absolute;
    list-style: none;
    top: 75%;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    box-shadow: 2px 2px rgba(221, 220, 220, 0.6);
    animation: fadeIn ease-in 0.2s;
    display: none;
}

.select-input__list::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    top: -10%;
    width: 100%;
    left: 0;
}

.select-input:hover .select-input__list {
    display: block
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}