.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #ee5e31, #ed4f2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-item {
    margin: 8px 8px;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-hover:hover .header__notify {
    display: block;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-item--strong {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    border-left: 1px solid #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    padding: 8px;
    border-radius: 2px;
    display: none;
    top: 170%;
    animation: fadeIn ease .3s;
}

.header__qr::before {
    position: absolute;
    content: "";
    top: -16px;
    left: 0;
    display: block;
    width: 100%;
    height: 30px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link-app:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link-app:nth-child(2) {
    margin-right: 12px;
}

.header__qr-app-img {
    height: 16px;
}

/* Header Notification */
.header__notify {
    position: absolute;
    top: 170%;
    width: 404px;
    background-color: var(--white-color);
    border-radius: 2px;
    right: 0;
    border: 1px solid #e5e5e5;
    user-select: none;
    cursor: default;
    transform-origin: calc(100% - 25px) top;
    animation: HeaderNoitifyGrowth ease-in .2s;
    will-change: opacity, transform;
    display: none;
    z-index: 1;

}

.header__notify::before {
    position: absolute;
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    right: 0;
}

.header__notify::after {
    position: absolute;
    content: "";
    top: -16px;
    display: block;
    width: 90px;
    height: 30px;
    right: 0;
}

@keyframes HeaderNoitifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    background-color: var(--white-color);
    height: 40px;
}

.header__notify-header h3 {
    color: #b5b5b5;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item--viewed {
    background-color: rgba(231, 106, 81, 0.08)
}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__noitify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__noitify-img {
    width: 48px;
}

.header__noitify-body {
    margin-left: 12px;
}

.header__noitify-name {
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__noitify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}


.header__noitify-footer-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    background-color: var(--white-color);
    z-index: 2;
    border-radius: 5px;
    animation: growth linear 0.1s;
}

/* Authen Form */
.auth-form {
    width: 500px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    margin: 0;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}


.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__aside {
    margin-top: 18px;
    font-size: 1.2rem;
    text-align: center;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    display: flex;
    background-color: #f5f5f5;
    padding: 14px 36px;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.btn.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
}

.btn.auth-form__socials--google {
    color: var(--text-color);
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socicals-title {
    margin: 0 24px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.auth-form__help-link--forgot {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    margin: -1px 16px;
    height: 20px;
    border-left: 1px solid var(--border-color);
}
/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
    cursor: pointer;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 8px;
}

.header__search-btn {
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select {
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 130%;
    width: 120px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;

}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    top: -30%;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    cursor: pointer;
}

.header__search-option-item:hover {
    background-color: #ffeeee;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}


.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    display: none;
    margin-left: 7px;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__cart {
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.2rem;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(221, 220, 220, 0.6);
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__cart-list::before{
    content: "";
    position: absolute;
    right: 4px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart{
    padding: 42px 0;
}
.header__cart-no-cart-img{
    width: 54%;
}
.header__cart-list-no-cart-msg{
    display: block;
    font-size: 1.4rem;
    margin-top: 24px;
    color: var(--text-color);
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Header search history */
.header__search-history{
    background-color: var(--white-color);
    border-radius: 2px;
    top: calc(100% + 2px);
    position: absolute;
    width: calc(100% - 16px);
    left: 0;
    box-shadow: 2px 2px rgba(221, 220, 220, 0.6);
    display: none;
}
.header__search-history-heading{
    margin: 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
    display: flex;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    margin: auto 0;
    width: 100%;
}
