/* Mobile,  Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header__search-select-label {
        display: none;
    }

    .header__search-select {
        padding-left: 0;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 70px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}