/* Mobile,  Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }

    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
    }

    .header__search-select-label {
        display: none;
    }

    .header__search-select {
        padding-left: 0;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: 0;
        padding: 0 calc(((100% - 644px) / 2));
    }

    .header__cart-item-header {
        width: 100%;
    }

    .header__cart-list::before {
        display: none;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .header__sort-bar {
        display: flex;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 70px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}